# Formato: NuevoNombre <nuevo_email>   NombreOriginal <email_original>
olfoavo <105509858+olfoavo@users.noreply.github.com> Josmer24 <Josmernicolasperalta@gmail.com>
# Por si algún commit quedó sin nombre, captura solo por email
olfoavo <105509858+olfoavo@users.noreply.github.com> <Josmernicolasperalta@gmail.com>
